extends layout

block content
  h1 #{event.name} #{event.year}
    a(href="https://www.thebluealliance.com/event/" + event.key style="padding-left:15px")
      img(src="https://www.thebluealliance.com/images/logo_square_512.png" height="25px" width="25px" style="border-radius: 25px;")

  - const predictor = event.stats.bests[0].type.split('-');
  p Best predictor of match outcome: #{predictor[0].toUpperCase()} (#{predictor[1]})
  p Accuracy: #{event.stats.bests[0].accuracy.toFixed(2)}% (scores in brackets)
  a.btn.btn-info(href="/event/" + event.key + "/compare" style="margin-bottom:15px", role='button') Compare Manual Data

  .row
    each team in event.teams.map((t) => t.substr(3)).sort((a, b) => a - b)
      .col-xs-4.col-sm-3.col-md-2
        a(href="/team/" + team + "/event/" + event.key)
          p #{team}

  p Predicted record
  .row
    each team in event.prediction.ranking.record
      .col-xs-4.col-sm-2
        p #{team.substr(3)} (#{event.prediction.teams[team].wins}-#{event.prediction.teams[team].loses}-#{event.prediction.teams[team].ties})

  include match
  each match in event.matches
    .col-xs-12.col-sm-6.col-md-4
      +score(match)
